<footer id="footer-bar">
  <div class="footer-bar__wrapper">
    <div class="__content container">
      <div class="row no-gutters">
        <div class="col-sm-4 my-2 text-center">
          <a routerLink="['/']"><img src="assets/logo/logo7.png" alt="PlayFirst Therapy Center footer logo"
              class="img-responsive logo"></a>
        </div>
        <div class="col-sm-4 my-2">
          <p class="font-weight-bold"> PlayFirst Kids and Adult Therapy Center</p>
          <p>2<sup>nd</sup> Floor, Orosia Building </p>
          <p>Cansaga, Consolacion, Cebu 6001</p>
          <p class="font-weight-bold"> +63 976 057 0452</p>
        </div>
        <div class="col-sm-4 my-2">
          <p class="font-weight-bold"> PlayFirst Kids and Adult Therapy Center</p>
          <p>2<sup>nd</sup> Floor, SYCA Building </p>
          <p>Lagtang, Talisay City, Cebu </p>
          <p class="font-weight-bold"> +63 976 057 0452</p>
        </div>
      </div>
    </div>

    <div class="__copyright">
      © Copyright 2022 by PlayFirst Kids and Adult Therapy Center. All rights reserved.
    </div>
   
  </div>
</footer>