<nav class="side-bar__nav" [ngClass]="{'showSideBar': sideBarToggle$ | async}">
    <div class="d-flex p-3">
        <a (click)="closeSideNav()" class="close">
            <i class="fas fa-solid fa-xmark"></i>
        </a>
    </div>
    <div>
        <ul class="ul-routes">
            <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            </li>
            <li><a>OUR TEAM</a></li>
            <li class="services-route">
                <a (click)="isCollapsedServicesBtn = !isCollapsedServicesBtn">OUR SERVICES</a>
                <i class="fas fa-solid fa-chevron-down"></i>
            </li>
            <ul class="ul-services mt-2" [collapse]="!isCollapsedServicesBtn" [isAnimated]="true">
                <ng-container *ngFor="let x of services">
                    <li><a>{{x.name}}</a></li>
                </ng-container>
            </ul>
            <li><a>CAREERS</a></li>
        </ul>
    </div>
</nav>