$xl-min-width: 1200px;
$lg-max-width: 1199px;
$lg-min-width: 920px;
$md-max-width: 919px;
$md-min-width: 768px;
$sm-max-width: 767px;
$sm-min-width: 576px;
$xs-max-width: 575px;
$xs-min-width: 320px;
$xxs-max-width: 319px;


$font1: 'Maven Pro',sans-serif;
$font2:'Doppio One',sans-serif;
$font3:'Mitr',sans-serif;
$font4:'Avenir Next LT Pro',sans-serif;
$font5:'Montserrat',sans-serif;
