body {
    margin: 0;

    a {
        text-decoration: none;
        color: unset;

        &:hover {
            text-decoration: none;
        }
    }

    span#small-border {
        width: 100px;
        border-top: 4px solid rgb(4, 57, 79, .9);
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}