@import "variables";

#shell {
    >* {
        position: relative;
        overflow: hidden;
    }

    #main {

        min-height: 100vh;
        margin-top: 100px;

        @media(max-width:$xl-min-width) {
            margin-top: 80px;
        }

        @media(max-width:$xs-max-width) {
            margin-top: 50px;
        }

    }
}